.btn-design {
	display: flex;
	height: 46px;
	padding: 13px 20px;
	justify-content: center;
	align-items: center;
	font-weight: 600;
	text-decoration: none;
	white-space: nowrap;
	border-radius: 5px;
	border: none;
	color: white;
	background-color: $primary-color;
	transition: 0.23s;
	&:hover {
		color: white;
		background-color: $primary-color-hover;
	}
	&:active {
		color: white;
		background-color: $primary-color;
	}
}

.scroll-bar {
	&::-webkit-scrollbar {
		width: 10px;
	}
	&::-webkit-scrollbar-track {
		background: #f1f1f1;
	}
	&::-webkit-scrollbar-thumb {
		background: #888;
		border-radius: 10px;
	}
	&::-webkit-scrollbar-thumb:hover {
		background: #555;
	}
}
