.home-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;

	@media (max-width: 500px) {
		height: auto;
	}

	.home-title {
		flex: 1;
		display: flex;
		justify-content: center;
		h1 {
			margin: auto;
			font-size: 150px;
			font-weight: 900;
			color: white;
			@media (max-width: 1200px) {
				font-size: 100px;
			}
			@media (max-width: 700px) {
				font-size: 50px;
			}
		}
	}

	.home-content {
		flex: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 50px;

		.profile-container {
			display: flex;
			gap: 50px;
			&__avatar {
				position: relative;
				width: 300px;
				.profile-image {
					width: 100%;
					height: 100%;
					border-radius: 50%;
					object-fit: cover;
				}
				.edit-button {
					position: absolute;
					top: 17px;
					right: 17px;
					padding: 15px;
					border-radius: 50%;
					color: white;
					background-color: $primary-color;
					&:hover {
						color: white;
						background-color: $primary-color-hover;
					}
				}
				.dropdown {
					display: grid;
					grid-template-columns: repeat(3, 1fr);
					position: absolute;
					top: 13px;
					right: -238px;
					background-color: white;
					border-radius: 10px;
					overflow: hidden;
					button {
						width: 85px;
						height: 85px;
						border: none;
						background-color: white;
						transition: 0.23s;
						&.selected {
							background-color: $primary-color;
						}
						&:hover {
							color: white;
							background-color: $primary-color-hover;
						}
						&:active {
							color: white;
							background-color: $primary-color;
						}
						img {
							width: 80%;
						}
					}
				}
				@media (max-width: 1200px) {
					width: 250px;
					.edit-button {
						top: 13px;
						right: 13px;
					}
					.dropdown {
						right: -242px;
					}
				}
				@media (max-width: 600px) {
					.dropdown {
						top: 59px;
						right: -196px;
					}
				}
				@media (max-width: 500px) {
					width: 150px;
					margin: auto;
					.edit-button {
						top: 0px;
        		right: 0px;
					}
					.dropdown {
						top: 46px;
						right: -105px;
					}
				}
				@media (max-width: 400px) {
					.dropdown {
						right: -50px;
					}
				}
			}
			&__username {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				form {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					gap: 15px;
					input {
						line-height: 42px;
						height: 42px;
					}
				}
			}
		}
		@media (max-width: 1200px) {
			gap: 20px;
			.profile-container {
				gap: 20px;
			}
		}
		@media (max-width: 910px) {
			.profile-container {
				flex-direction: column;
			}
		}
		@media (max-width: 800px) {
			flex-direction: column;
			.profile-container {
				flex-direction: row;
			}
		}
		@media (max-width: 500px) {
			.profile-container {
				flex-direction: column;
			}
		}

		.divider {
			border-left: 1px solid white;
			height: 100%;
		}

		.game-instructions {
			font-size: 20px;
			color: white;
			max-width: 40%;
			h2 {
				text-align: center;
				margin-bottom: 40px;
			}
			ol {
				color: white;
			}
			@media (max-width: 800px) {
				max-width: 70%;
			}
		}
	}

	.home-footer {
		flex: 1;
		display: flex;
		justify-content: center;
		.networks {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 10px;
			.icon {
				cursor: pointer;
				font-size: 25px;
				color: white;
				transition: 0.23s;
				&:hover {
					color: rgb(182, 182, 182);
				}
			}
		}
	}
}
