.results-container {
	.results-content {
		display: flex;
		flex-direction: column;
		gap: 16px;
		&__go-back {
			display: flex;
			align-items: center;
			margin-top: 2rem;
			margin-left: 11.5%;
			.go-back-option {
				display: flex;
				align-items: center;
				text-decoration: none;
				gap: 10px;
				transition: 0.1s;
				&:hover {
					.go-back-icon,
					span {
						color: rgb(182, 182, 182);
					}
				}
				.go-back-icon {
					font-size: 20px;
					color: white;
					transition: 0.23s;
				}
				span {
					font-weight: bold;
					color: white;
					transition: 0.23s;
				}
			}
		}
		&__content {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: calc(100vh - 200px);
		}
	}
}
