:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  background: rgb(251,142,47);
  background: linear-gradient(90deg, rgba(251,142,47,1) 0%, rgba(187,70,76,1) 49%, rgba(132,33,98,1) 100%);
}
